
  svg {
    display: block;
    margin: auto;
    background: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
  }
  .pitch-line {
    stroke: #fdfdfd;
    stroke-width: 10;
    fill: none;
  }
  .cell {
    stroke: none;
    border: none;
  }
  .tooltip {
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 4px 8px;
    font-size: 12px;
    border-radius: 4px;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s ease;
  }

  .selection-bar {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
  }

  .selection-bar button {
    padding: 0.5rem 1rem;
    border: none;
    background-color: #ddd;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
  }

  .selection-bar button.active {
    background-color: #007BFF;
    color: white;
  }

  #heatmap {
    padding: 2rem;
    flex-grow: 1;
    display: block !important;;
  }
